@media only screen and (max-width: 1200px) {
  .text h2 {
    font-size: 80px;
  }

  .text .para1 {
    max-width: 600px;
  }

  .sec-1 .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
  }

  .text h2 {
    font-size: 65px !important;
    color: #fff;
    line-height: 1;
    font-weight: 500;
    max-width: 674px;
    margin: 0 auto;
    margin-top: 500px;
    margin-bottom: 160px;
    font-family: 'Geometria-Medium', sans-serif !important;
    letter-spacing: -3px !important;
    /* Reduz o espaçamento entre as letras */
  }


  .text .para1 {
    color: #fff !important;
    /* margin: 0 auto; */
    margin-top: -50px;
    margin-bottom: 0px;
    max-width: 800px;
    font-family: 'Geometria-Light', sans-serif !important;
    font-weight: 300 !important;
  }

  .text .para2 {
    color: #fff !important;
    /* margin: 0 auto; */
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 800px;
    font-family: 'Geometria-Medium', sans-serif !important;
    font-weight: 500 !important;
  }


  .sec-1 .text .btn {
    font-size: 14px;
    margin-top: -30px;
    font-family: 'Geometria-Medium', sans-serif;
    font-weight: 500;
    border: 1px solid #d1d0d0;

  }

  .overlay {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
}


@media only screen and (max-width: 778px) {
  .text h2 {
    font-size: 80px;
  }

  .text .para1 {
    max-width: 600px;
  }

  .sec-9 .container {
    width: 90%;
    margin: 0 auto;
  }

  .sec-9 {
    padding-top: -80px 0;
  }
}


@media only screen and (max-width: 380px) {

  .sec-9 .text-img .mobile-app .column2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -10.5rem;
    width: 100%;
    padding: 0px;
  }

  .sec-9 .text-img .mobile-app {
    align-items: center;
  }

  .sec-9 {
    padding: 72px 0;
  }

  .sec-9 .text7 h2 {
    text-align: center;
  }

  .sec-9 .text7 p {
    width: 100%;
  }

  .sec-9 .text-img .mobile-app .column1 {
    width: 100%;

  }

  .sec-9 .text-img .mobile-app .column2 {
    width: 100%;
  }

  .sec-10 .contact .text8 {
    padding: 72px 0;
  }

  .sec-9 .text7 h2 {
    font-size: 35px;
  }

  .sec-2 .sideview .contain .text1 {
    text-align: center;
  }

  .sec-2 .sideview .contain .text1 .big-text {
    font-size: 35px;
  }

}

@media only screen and (max-width: 767px) {

  .sec-9 .text-img .mobile-app .column2 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: -10.5rem;
    width: 100%;
    padding: 0px;
  }


  .sec-9 .mobile-app {
    flex-direction: column;
  }

  .footer {
    padding: 72px 0;
  }

  .overlay {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }

  .sec-9 .text7 p {
    width: 100%;
  }

  .sec-9 .text-img .mobile-app {
    width: 100%;
  }

  .sec-9 .text-img .mobile-app .column1 .app-feature .small-para {
    width: 100%;
    max-width: 100%;
  }

  .sec-9 .text-img .mobile-app .column1 {

    width: 100%;

  }

  /* .sec-10 .contact .text8 {
  padding: 120px 0;
} */
}

@media only screen and (max-width: 992px) {
  .nav-bar .navlinks {
    display: none;
  }

  .navbar .forlogo .logo {
    left: 10%;
  }

  .menubars {
    top: 10px;
    left: 90%;
  }

  .overlay {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .overlay {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .btn button {
    padding: 13px 28px;
  }

  .overlay {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
}