@media only screen and (max-width: 1200px) {

  .text .para1 {
    max-width: 600px;
  }

  .sec-1 .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  .text h2 {
    font-size: 60px !important;
    color: #fff;
    line-height: 1.2;
    font-weight: 500;
    max-width: 674px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Geometria-Medium', sans-serif !important;
    letter-spacing: -2px !important;
  }

  .text .para1 {
    color: #fff !important;
    margin-top: -30px;
    margin-bottom: 0;
    max-width: 800px;
    font-family: 'Geometria-Light', sans-serif !important;
    font-weight: 300 !important;
  }

  .text .para2 {
    color: #fff !important;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 800px;
    font-family: 'Geometria-Medium', sans-serif !important;
    font-weight: 500 !important;
  }

  .sec-1 .text .btn {
    font-size: 14px;
    margin-top: -20px;
    font-family: 'Geometria-Medium', sans-serif;
    font-weight: 500;
    border: 1px solid #d1d0d0;
  }

  .overlay {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {

  .text h2 {
    font-size: 40px !important;
    color: #fff;
    line-height: 1.2;
    font-weight: 500;
    max-width: 674px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Geometria-Medium', sans-serif !important;
    letter-spacing: -2px !important;
  }

  .text .para1 {
    color: #fff !important;
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: 'Geometria-Light', sans-serif !important;
    font-weight: 300 !important;
  }

  .text .para2 {
    display: none;
    color: #fff !important;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 800px;
    font-family: 'Geometria-Medium', sans-serif !important;
    font-weight: 500 !important;
  }

  .sec-1 .text .btn {
    font-size: 14px;
    margin-top: 120px;
    font-family: 'Geometria-Medium', sans-serif;
    font-weight: 500;
    border: 1px solid #d1d0d0;
  }

  .overlay {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.sec-9 .container {
  width: 90%;
  margin: 0 auto;
}

.sec-9 {
  padding: 0;
}

.nav-bar .navlinks {
  display: none;
}

.navbar .forlogo .logo {
  left: 10%;
}

.menubars {
  top: 10px;
  left: 90%;
}

.overlay {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}
}

@media only screen and (max-width: 778px) {
  .text h2 {
    font-size: 30px !important;
  }

  /* .text .para1 {
    max-width: 400px;
  } */

  .sec-9 .text-img .mobile-app .column2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -10.5rem;
    width: 100%;
    padding: 0;
  }

  .sec-9 .text-img .mobile-app {
    align-items: center;
    flex-direction: column;
  }

  .sec-9 {
    padding: 60px 0;
  }

  .sec-9 .text7 h2 {
    text-align: center;
    font-size: 30px;
  }

  .sec-9 .text7 p {
    width: 100%;
  }

  .sec-9 .text-img .mobile-app .column1 {
    width: 100%;
  }

  .sec-9 .text-img .mobile-app .column2 {
    width: 100%;
  }

  .sec-10 .contact .text8 {
    padding: 60px 0;
  }
}


@media only screen and (max-width: 380px) {
  .text h2 {
    font-size: 20px !important;
  }