/* -------------------------------- 

Importando a Fonte Geometria

-------------------------------- */
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Madina';
  src: url('../fonts/Madina.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis.otf') format('truetype');
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium.ttf') format('truetype');
}

@font-face {
  font-family: 'Nasalization';
  src: url('../fonts/Nasalization.ttf') format('truetype');
}

/* -------------------------------- 

Primary style

-------------------------------- */
html, body {
  height: 100%;
  font-family: 'Geometria', sans-serif !important;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Geometria', sans-serif !important;
  font-weight: 500 !important;
  color: #5e615b;
  background-color: #f2e6cd;
}

@media only screen and (min-width: 1048px) {
  body {
    /* hide horizontal scroll bar in IE */
    overflow-x: hidden;
  }
}

a {
  color: #5e615b;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  font-family: 'Geometria', sans-serif !important;
  position: relative;
  height: 100%;
  background-color: #ccd3c6;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.cd-header h1 {
  font-family: 'Geometria-Medium', sans-serif !important;
  width: 90%;
  color: #5e615b;
  text-align: center;
  font-size: 2.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 46%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-header p {
  font-family: 'Geometria', sans-serif !important;
  color: #5e615b !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 40%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-40%);
}

@media only screen and (min-width: 768px) {
  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'Geometria', sans-serif !important;
    font-weight: 500 !important;
  }

  .cd-header p {
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'Geometria', sans-serif !important;
    font-weight: 500 !important;
  }
}

.cd-fixed-background {
  position: relative;
  padding: 3em 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Geometria', sans-serif !important;
  font-weight: 500 !important;
}

.cd-fixed-background h2, .cd-fixed-background p {
  font-family: 'Geometria', sans-serif !important;
  font-weight: 500 !important;
  color: #32312f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-fixed-background h2 {
  font-family: 'Geometria', sans-serif !important;
  font-weight: 500 !important;
  font-size: 2.4rem;
  margin-bottom: 1em;
}

.cd-fixed-background p {
  font-family: 'Geometria', sans-serif !important;
  line-height: 1.6;
  /* font-family: "Merriweather", serif; */
}

.cd-fixed-background .light-background h2, .cd-fixed-background .light-background p {
  color: #5e615b;
  font-family: 'Geometria', sans-serif !important;
  font-weight: 500 !important;
}

.cd-fixed-background .cd-content::after {
  /* phone image on small devices */
  content: '';
  display: block;
  width: 100%;
  padding: 80% 0;
  margin: 10em auto 0;
  font-family: 'Geometria', sans-serif !important;
  font-weight: 500 !important;
}

.cd-fixed-background.img-1 {
  background-color: #bf5138;
}

.cd-fixed-background.img-1 .cd-content::after {
  background: url("../img/site1.webp") no-repeat;
  background-size: 20% auto;
}

.cd-fixed-background.img-2 {
  background-color: #f2e6cd;
}

.cd-fixed-background.img-2 .cd-content::after {
  background: url("../img/img-mobile-2.jpg") no-repeat;
  background-size: 100% auto;
}

.cd-fixed-background.img-3 {
  background-color: #0f594d;
}

.cd-fixed-background.img-3 .cd-content::after {
  background: url("../img/img-mobile-3.jpg") no-repeat;
  background-size: 100% auto;
}

.cd-fixed-background.img-4 {
  background-color: #db9537;
}

.cd-fixed-background.img-4 .cd-content::after {
  background: url("../img/img-mobile-4.jpg") no-repeat;
  background-size: 100% auto;
}

@media only screen and (min-width: 768px) {
  .cd-fixed-background {
    height: 100%;
    padding: 0;
  }

  .cd-fixed-background h2 {
    font-size: 3.6rem;
    font-weight: 300;
  }

  .cd-fixed-background p {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .cd-fixed-background .cd-content {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .cd-fixed-background .cd-content::after {
    display: none !important;
  }

  .cd-fixed-background.img-1 {
    background-image: url("../img/site1.webp");
    filter: brightness(1);
  }

  .cd-fixed-background.img-2 {
    background-image: url("../img/site2.webp");
  }

  .cd-fixed-background.img-3 {
    background-image: url("../img/site3.webp");
  }

  .cd-fixed-background.img-4 {
    background-image: url("../img/site4.webp");
  }

  .cd-fixed-background.img-5 {
    background-image: url("../img/site5.jpeg");
  }

  .cd-fixed-background.img-6 {
    background-image: url("../img/site6.webp");
  }
}

@media only screen and (min-width: 1048px) {
  .cd-fixed-background {
    background-attachment: fixed;
  }

  .cd-fixed-background .cd-content {
    width: 40%;
    left: 10%;
  }
}

.cd-vertical-nav {
  position: fixed;
  z-index: 2;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #32312f;
  display: block !important;
  /* Certifica-se de que o menu é exibido */
  opacity: 1 !important;
  /* Garante que o menu esteja visível */
  visibility: visible !important;
  /* Garante que o menu esteja visível */
}


.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(../img/cd-icon-arrow.svg) no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
  color: #32312f;
}

.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
  color: #32312f;
}



@media only screen and (min-width: 1200px) {
  .cd-vertical-nav {
    display: block;
  }
}


@font-face {
  font-family: 'Geometria-Medium';
  /* Nome da fonte baixada */
  src: local('Geometria-Medium'), url('../fonts/Geometria-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Geometria-Light';
  /* Nome da fonte baixada */
  src: local('Geometria-Light'), url('../fonts/Geometria-Light.ttf') format('truetype');
}

/* Estilos padrão para o botão WhatsApp */


.navbar {
  background-color: transparent;
  height: 50px;
  width: 100%;
  position: absolute;

  /* z-index: -1; */
}

.navbar .forlogo .logo {
  text-align: center;
  left: 47%;
  position: absolute;
  z-index: 1;
}

.logo-light {
  padding-top: 20px;
}

.nav-bar .navlinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  margin-top: -50px;
}

.nav-bar .navlinks .nav-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Geometria-Light', sans-serif !important;
  font-weight: 300;

}

.nav-bar .navlinks .navlink1 {
  display: flex;
  justify-content: space-around;
  width: 25%;
  padding-top: 17px;
  /* margin: 0px 163px; */
}

.nav-bar .navlinks .navlink1 a {
  margin: 10px;
}

.nav-bar .navlinks .navlink2 {
  display: flex;
  justify-content: space-around;
  width: 25%;
  padding-top: 17px;
  /* margin: 0px 163px; */
}

.nav-bar .navlinks .navlink2 a {
  margin: 10px;
}

.menubars {
  position: absolute;
  margin-top: 10px;
  left: 95%;
  top: 16px;
}

.menubars .fa-bars {
  color: #fff;
  font-size: 25px;
}


.nav-link1 {
  color: black;
  /* Cor dos links */
  text-decoration: none;
  /* Remover sublinhado padrão dos links */
  display: block;
  padding: 10px;
}

.sidebar-title {
  color: black;
  /* Cor do título */
  font-size: 18px;
  /* Tamanho da fonte do título */
  margin-top: 20px;
  /* Espaçamento superior do título */
}

.company {
  color: black;
  /* Cor do texto do copyright */
  margin-top: 10px;
  /* Espaçamento superior do texto do copyright */
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

.sec-1 {
  background-image: linear-gradient(rgba(17, 17, 17, 0.651), rgba(29, 29, 33, 0.733)), url("../img/bg-img.webp");
  height: 100vh;
  background-size: 90%;
  margin-top: -50px;
  /* Diminui o zoom da imagem */
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: left top;
  /* Posiciona a imagem mais à esquerda */
}

.sec-1 .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
}

.text h2 {
  font-size: 65px !important;
  color: #fff;
  line-height: 1;
  font-weight: 200;
  max-width: 674px;
  margin: 0 auto;
  margin-top: 220px;
  margin-bottom: 160px;
  font-family: 'Geometria-Medium', sans-serif !important;
  letter-spacing: -3px !important;
  /* Reduz o espaçamento entre as letras */
}


.text .para1 {
  color: #fff !important;
  /* margin: 0 auto; */
  font-size: 18px !important;
  margin-top: -50px;
  margin-bottom: 0px;
  max-width: 800px;
  font-family: 'Geometria-Light', sans-serif !important;
  font-weight: 300 !important;
  letter-spacing: -0.5px !important;
}

.text .para2 {
  color: #fff !important;
  /* margin: 0 auto; */
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 800px;
  font-family: 'Geometria-Medium', sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: -0.5px !important;
}


.sec-1 .text .btn {
  font-size: 14px;
  margin-top: -30px;
  font-family: 'Geometria-Medium', sans-serif;
  font-weight: 500;
  border: 1px solid #d1d0d0;
  letter-spacing: -0.5px !important;

}


.btn button {
  padding: 13px 35px;
  text-decoration: none;
  margin-left: 10px;
}





/* Telas maiores que 1200px (desktops grandes) */
@media only screen and (max-width: 1200px), (max-height: 900px) {
  .text h2 {
    font-size: 50px;
  }

  .text .para1 {
    margin-top: 50px;
    font-size: 20px;

  }

  .text .para2 {
    margin-top: 180px;
    max-width: 800px;
  }
}

/* Telas entre 992px e 1200px (desktops médios) */
@media only screen and (max-width: 992px), (max-height: 800px) {
  .text h2 {
    font-size: 45px;
    margin-top: 160px;
  }

  .text .para1 {
    margin-top: 50px;
    font-size: 20px;

  }

  .text .para2 {
    margin-top: 180px;
    max-width: 800px;
  }

  /* Exemplo: desktops médios com largura ou altura reduzidas */
}

/* Telas entre 768px e 992px (tablets) */
@media only screen and (max-width: 768px), (max-height: 700px) {
  .text h2 {
    font-size: 60px !important;

  }

  .text .para1 {
    font-size: 18px !important;
    margin-top: 10px;
  }

  .text .para2 {
    font-size: 18px !important;
    max-width: 600px;
    margin-top: 60px;
    margin-bottom: -20px;
  }

  /* Exemplo: tablets com largura ou altura reduzidas */
}

/* Telas entre 576px e 768px (celulares grandes) */
@media only screen and (max-width: 576px), (max-height: 600px) {
  .text h2 {
    font-size: 40px;
  }

  .text .para1 {
    max-width: 350px;
    font-size: 30px;
  }

  /* Exemplo: celulares grandes com largura ou altura reduzidas */
}

/* Telas entre 425px e 576px (celulares médios) */
@media only screen and (max-width: 425px), (max-height: 550px) {
  .text h2 {
    font-size: 35px;
  }

  .text .para1 {
    max-width: 300px;
  }

  /* Exemplo: celulares médios com largura ou altura reduzidas */
}

/* Telas entre 375px e 425px (celulares pequenos) */
@media only screen and (max-width: 375px), (max-height: 500px) {
  .text h2 {
    font-size: 30px;
  }

  .text .para1 {
    max-width: 280px;
  }

  /* Exemplo: celulares pequenos com largura ou altura reduzidas */
}

/* Telas entre 320px e 375px (celulares muito pequenos) */
@media only screen and (max-width: 320px), (max-height: 450px) {
  .text h2 {
    font-size: 25px;
  }

  .text .para1 {
    max-width: 260px;
  }

  /* Exemplo: celulares muito pequenos com largura ou altura reduzidas */
}

/* Telas entre 280px e 320px (celulares extra pequenos) */
@media only screen and (max-width: 280px), (max-height: 400px) {
  .text h2 {
    font-size: 20px;
  }

  .text .para1 {
    max-width: 240px;
  }

  /* Exemplo: celulares extra pequenos com largura ou altura reduzidas */
}

/* Telas menores que 280px (dispositivos raramente usados) */
@media only screen and (max-width: 240px), (max-height: 360px) {
  .text h2 {
    font-size: 18px;
  }

  .text .para1 {
    max-width: 220px;
  }

  /* Exemplo: dispositivos raramente usados com largura ou altura reduzidas */
}






.sec-9 {
  padding: 120px 0;
}

.sec-9 .container {
  width: 100%;
  margin: 0 auto;
}

.sec-9 .text7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 55px;
}

.sec-9 .text7 h6 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  font-family: 'Geometria-Medium', sans-serif;
}

.sec-9 .text7 h2 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 10px;
  background: linear-gradient(to right, #0852ae 2%, #5e5b5b 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Geometria-Medium', sans-serif;
}

.sec-9 .text7 p {
  width: 60%;
  margin: 0 auto;
  color: #6d6d6d;
  text-align: center;
}

.sec-9 .mobile-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-9 .app-img .iphone-img {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.sec-9 .app-img .iphone-img .phone {
  margin: 0 auto;
  position: relative;
  max-width: 280px;
}

.sec-9 .app-img .up-img {
  position: absolute;
  width: 100%;
  top: 67px;
  left: 32px;
}

.sec-9 .app-img .up-img .slider-img {
  width: 85%;
}

/* .sec-9 .app-img {
    width: 33%;
}  */



.sec-9 .text-img .mobile-app .column1 {
  text-align: center;
  width: 33%;
  padding: 0 15px;
}

.sec-9 .text-img .mobile-app .column1 .app-feature .fa {
  background: linear-gradient(to right, #0852ae 2%, #5e5b5b 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  margin-bottom: 1.5rem;
}

.sec-9 .text-img .mobile-app .column1 .app-feature .small-text {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1;
  font-family: 'Geometria-Medium', sans-serif;
  font-weight: 500
}

.sec-9 .text-img .mobile-app .column1 .app-feature .small-para {
  margin-bottom: 0;
  color: #6d6d6d;
  max-width: 292px;
  margin: 0 auto;
}

.sec-9 .text-img .mobile-app .column1 .app-feature {
  margin-bottom: 48px;
}

.sec-9 .text-img .mobile-app .column1 .app-feature:hover .fa-diamond {
  transform: translateY(-10px);
  transition: .3s;
}

.sec-9 .text-img .mobile-app .column1 .app-feature:hover .fa-pencil-square-o {
  transform: translateY(-10px);
  transition: .3s;
}

.sec-9 .text-img .mobile-app .column1 .app-feature:hover .fa-code {
  transform: translateY(-10px);
  transition: .3s;
}

.sec-9 .text-img .mobile-app .column1 .app-feature:hover .fa-folder-open-o {
  transform: translateY(-10px);
  transition: .3s;
}

.sec-9 .text-img .mobile-app .column2 {
  text-align: center;
  width: 33%;
  padding: 0 15px;
}

.sec-9 .text-img .mobile-app .column2 .app-feature .fa {
  background: linear-gradient(to right, #0852ae 2%, #5e5b5b 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  margin-bottom: 1.5rem;
}

.sec-9 .text-img .mobile-app .column2 .app-feature .small-text {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1;
  font-family: 'Geometria-Medium', sans-serif;
  font-weight: 500
}

.sec-9 .text-img .mobile-app .column2 .app-feature .small-para {
  margin-bottom: 0;
  color: #6d6d6d;
  max-width: 292px;
  margin: 0 auto;
}

.sec-9 .text-img .mobile-app .column2 .app-feature {
  margin-bottom: 48px;
}

.sec-9 .text-img .mobile-app .column2 .app-feature:hover .fa-diamond {
  transform: translateY(-10px);
  transition: .3s;
}

.sec-9 .text-img .mobile-app .column2 .app-feature:hover .fa-pencil-square-o {
  transform: translateY(-10px);
  transition: .3s;
}

.sec-9 .text-img .mobile-app .column2 .app-feature:hover .fa-code {
  transform: translateY(-10px);
  transition: .3s;
}

.sec-9 .text-img .mobile-app .column2 .app-feature:hover .fa-folder-open-o {
  transform: translateY(-10px);
  transition: .3s;
}



.sec-9 .text-img .mobile-app {
  width: 95%;
  margin: 0 auto;
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer .footer-social .footer-icons {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer .footer-icons li a {
  /* padding: 12px; */
  text-decoration: none;
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50px;
  font-size: 17px;
  color: black;
  margin: 10px 5px;
  border: 1px solid transparent;
}

.footer .last-line p {
  text-align: center;
  font-size: 13px;
  margin-bottom: 0;
  color: #6d6d6d;
}

.footer-social li a:hover {
  background-color: #0852ae;
  color: #ffffff;
}

.footer .last-line a {
  text-decoration: none;
  color: #6d6d6d;
}

.footer .last-line:hover a {
  color: #385aef;
  text-decoration: none;
}


.sidebar {
  background-color: #0f2c50;
  position: fixed;
  top: 0;
  z-index: 99;
  right: 0;
  width: 0;
  overflow: auto;
  height: 100%;
  display: none;
}

.inner-sidebar {
  padding: 56px 80px;
  margin: 2px 0 3px 0 !important;
}

.social-icons .icons a {
  padding: 20px;
  color: #fff !important;
}

.line p {
  color: #fff !important;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-family: 'Geometria-Light', sans-serif !important;
  font-weight: 300;
}

.line {
  padding-left: 0px;
  font-family: 'Geometria-Light', sans-serif !important;
  font-weight: 300;
}

.line a {
  color: #fff !important;
  text-decoration: none;
}

.nav-link1 {
  display: block;
  padding: 15px;
  font-size: 24px;
  text-decoration: none;
  position: relative;
  color: #fff;
  font-weight: 300;
  font-family: 'Geometria-Light', sans-serif !important;
}

.close-btn {
  position: relative;
  float: right;
}

.nav-scroll {
  position: fixed;
  top: 0;
  background: #fff;
  display: flex;
  z-index: 10;
  width: 100%;
  height: 70px;
  box-shadow: 0 10px 10px -10px rgb(0 0 0 / 35%);
}

.nav-scroll .nav-bar .navlinks .nav-link {
  color: black;
}

.nav-scroll .logo-light {
  filter: invert();
}

.nav-scroll .menubars .fa-bars {
  color: black;
}

.navlinks .navlink1 .nav1 {
  border-bottom: 3px solid #e0e1e4;
  /* background: #00bcd4; */
  border-radius: 2px;
}

.scroll-up {
  font-size: 30px;
  line-height: 45px;
  color: #fff !important;
  height: 45px;
  width: 45px;
  padding: 0;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  text-decoration: none;
  z-index: 99;
  border-radius: 100%;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #0852ae 0%, #0852ae 51%, #a15363 100%);
}

.icons {
  display: flex;
  list-style-type: none;
  padding-top: 50px;
}

.sidebar .menubars .close-btn .fa-times {
  height: 33px;
  width: 33px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff !important;
  font-size: 2rem;
}

.plus {
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
}

.plus::before {
  width: 2px;
  content: "";
  position: absolute;
  width: 2px;
  margin-left: -1px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  background-color: #fff;
}

.plus::after {
  content: " ";
  position: absolute;
  background: #fff;
  height: 2px;
  margin-top: -1px;
  top: 50%;
  left: 5px;
  right: 5px;
}

.company {
  padding-left: 13px;
}

.side-nav-link {
  position: relative;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
}

.side-nav-link::before {
  content: "";
  position: absolute;
  background: #fff;
  display: inline-block;
  transition: .5s;
  height: 3px;
  top: 45px;
  width: 0;
  transition: all .5s linear;
  left: 20px;
}

.side-nav-link:hover::before {
  width: 11%;
}

/* .icons:hover {
    border-radius: 50%;
    background-color: white;
    transition: background-color .5s ease;
}
.social-icons:hover .facebook {
    color: #4267B2 !important;
}
.icons:hover .instagram{
    color: #C32AA3 !important;
}
.icons:hover .twitter{
    color: #1DA1F2 !important;
} */
.icons1 {
  list-style-type: none;
  width: 30px;
  height: 30px;
  background: transparent;
  display: flex;
  /* align-items: center;
    justify-content: center; */
}

.icons1 a:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.icons1 .facebook:hover .fa-facebook {
  color: #4267B2 !important;
}

.icons1 .twitter:hover .fa-twitter {
  color: #1DA1F2 !important;
}

.icons1 .instagram:hover .fa-instagram {
  color: #C32AA3 !important;
}




/* Seção com fundo claro */
.light-background h1, .light-background p {
  color: #000;
  /* Preto */
  font-family: 'Geometria-Medium', sans-serif;
}

/* Seção com fundo escuro */
.dark-background h1, .dark-background p {
  color: #fff;
  /* Branco */
  font-family: 'Geometria-Medium', sans-serif;
}

/* ------------------------------------------- 1 ------------------------------------------------- */
/* Ajustes específicos por seção */
.img-1 .cd-content {
  font-family: 'Geometria', sans-serif;
}

/* Estiliza o texto do h1 com a fonte 'Metropolis' */
.img-1 .cd-content h1 {
  font-family: 'Metropolis' !important;
  color: #474646;
  font-weight: 500;
  line-height: 0.5s;
  font-size: 40px !important;
  letter-spacing: -1px !important;
  /* cor do texto */
}

/* Estiliza o texto do parágrafo com a fonte 'Madina' */
.img-1 .cd-content p {
  font-family: 'Geometria-Light', sans-serif !important;
  color: #000000;
  font-size: 18px !important;
  line-height: 1.2;
  font-weight: 800;

  /* cor do texto */
}

/* ------------------------------------------- 2 ------------------------------------------------- */
.img-2 .cd-content {
  font-family: 'Geometria', sans-serif;
}

/* Estiliza o texto do h1 com a fonte 'Madina' */
.img-2 .cd-content h1 {
  font-family: 'Geometria' !important;
  color: #fff;
  font-weight: 500;
  line-height: 0.9;
  font-size: 40px !important;
  letter-spacing: -2px !important;
  /* cor do texto */
}

/* Estiliza o texto do parágrafo com a fonte 'Madina' */
.img-2 .cd-content p {
  font-family: 'Geometria-Light', sans-serif !important;
  color: #222020;
  font-size: 18px !important;
  line-height: 1.2;
  font-weight: 800;

  /* cor do texto */
}

/* ------------------------------------------- 3 ------------------------------------------------- */
/* Aplica a fonte 'Madina' apenas aos elementos da seção .img-4 */
.img-3 .cd-content {
  font-family: 'Geometria', sans-serif;
}

/* Estiliza o texto do h1 com a fonte 'Titillium' */
.img-3 .cd-content h1 {
  font-family: 'Titillium' !important;
  color: #474646;
  font-size: 40px !important;
  letter-spacing: -2px !important;
  /* cor do texto */
}

/* Estiliza o texto do parágrafo com a fonte 'Madina' */
.img-3 .cd-content p {
  font-family: 'Geometria-Light', sans-serif !important;
  color: #222020;
  font-size: 18px !important;
  line-height: 1.2;
  font-weight: 800;

  /* cor do texto */
}

/* ------------------------------------------- 4 ------------------------------------------------- */

/* Aplica a fonte 'Madina' apenas aos elementos da seção .img-4 */
.img-4 .cd-content {
  font-family: 'Metropolis', sans-serif;
}


/* Estiliza o texto do h1 com a fonte 'Madina' */
.img-4 .cd-content h1 {
  font-family: 'Madina' !important;
  color: #fff;
  font-size: 70px !important;
  font-weight: 200 !important;
  /* cor do texto */
}

/* Estiliza o texto do parágrafo com a fonte 'Madina' */
.img-4 .cd-content p {
  font-family: 'Geometria-Light', sans-serif !important;
  color: #fff;
  font-size: 18px !important;
  line-height: 1.2;
  font-weight: 800;

  /* cor do texto */
}


/* ------------------------------------------- 5 ------------------------------------------------- */

/* Aplica a fonte 'Nasalization' apenas aos elementos da seção .img-5 */
.img-5 .cd-content {
  font-family: 'Geometria', sans-serif;
}

/* Estiliza o texto do h1 com a fonte 'Nasalization' */
.img-5 .cd-content h1 {
  font-family: 'Nasalization' !important;
  color: #fff;
  font-size: 45px !important;
  font-weight: 200 !important;
  /* cor do texto */
}

/* Estiliza o texto do parágrafo com a fonte 'Madina' */
.img-5 .cd-content p {
  font-family: 'Geometria-Light', sans-serif !important;
  color: #fff;
  font-size: 18px !important;
  line-height: 1.2;
  font-weight: 800;
  /* cor do texto */
}

/* ------------------------------------------- 6 ------------------------------------------------- */

/* Aplica a fonte 'Madina' apenas aos elementos da seção .img-6 */
.img-6 .cd-content {
  font-family: 'Geometria', sans-serif;
}

/* Estiliza o texto do h1 com a fonte 'Madina' */
.img-6 .cd-content h1 {
  font-family: 'Geometria' !important;
  color: #6f5451;
  font-size: 45px !important;
  /* cor do texto */
}

/* Estiliza o texto do parágrafo com a fonte 'Madina' */
.img-6 .cd-content p {
  font-family: 'Geometria', sans-serif !important;
  color: #6f5451 !important;
  font-size: 18px !important;
  line-height: 1.2;
  font-weight: 800;
  /* cor do texto */
}

.cd-content {
  position: relative;
  padding: 20px;
  text-align: center;
}

.cd-vertical-nav {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
}

.cd-vertical-nav li {
  margin-bottom: 10px;
  margin-right: 50px;
}

.cd-vertical-nav a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.cd-vertical-nav a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.cd-vertical-nav .sec-1 .cd-next {
  display: block !important;
}

/* Ocultar o botão apenas quando não houver seções para navegar abaixo */
.cd-vertical-nav .inactive {
  display: none;
}

/* Mostrar apenas o botão "para baixo" na primeira seção */
.cd-vertical-nav .sec-1 .cd-next {
  display: block;
}

.tool-cards {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tool-card-dark {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.tool-card-dark:hover {
  background-color: #555;
}

.tool-card-light {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.tool-card-light:hover {
  background-color: #8a8686;
}

.right-click-area {
  position: absolute;
  top: 10%;
  bottom: 20%;
  left: 60%;
  right: 20%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  z-index: -5;
}

;